{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "meteor": true
  },
  "rules": {
    "no-console": 0,
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "quotes": [2, "single"]
  },
  "globals": {
    "CONSTANTS": false,
    "ga": false,
    "Slideout": true,
    "Posts": true,
    "LaunchScreen": true
  }
}
