html, body {
  margin: 0;
  padding: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
#post {}

.blog-post {
  height: 200px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px 0;
  border-radius: 2px;
}

.blog-post .read-btn-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  height: 20px;
}

.blog-post button {

}
.slideout-menu {
  background: #000;
  opacity: 1;
}
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 999;
  color: #fff;
}
.loading-msg {
  width: 80%;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
}
.border-menu {
  position: relative;
  padding-left: 1.25em;
  cursor: pointer;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #fff;
  border-bottom: 0.125em solid #fff;
}
.header {
  position: fixed;
  top: 0;
  background: #000;
  opacity: 0.85;
  color: #fff;
  width: 100%;
  z-index: 999;
}
.heading {
  margin-top: 0;
  font-size: 20px;
  padding-left: 1.25em;
  display: inline;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
